<!-- ── LEFT SIDEBAR ── -->
<aside id="sidebar">
  <!-- Logo -->
  <a href="/" class="ig-logo-icon nav-item" style="margin-bottom: 8px">
    <img
      height="40"
      width="40"
      src="https://static.vecteezy.com/system/resources/previews/021/495/954/large_2x/instagram-logo-icon-free-png.png"
      alt=""
    />
    <span class="ig-logo-text">Instagram</span>
  </a>

  <!-- Nav links -->
  <nav style="display: flex; flex-direction: column; flex: 1">
    <a href="/" class="nav-item active" id="nav-home">
      <span
        class="material-symbols-outlined"
        style="font-variation-settings: &quot;FILL&quot; 1"
        >home</span
      >
      <span class="nav-label">Home</span>
    </a>
    <a href="#" class="nav-item" id="nav-reels">
      <span class="material-symbols-outlined">smart_display</span>
      <span class="nav-label">Reels</span>
    </a>
    <a href="#" class="nav-item" id="nav-messages">
      <span class="material-symbols-outlined">send</span>
      <span class="nav-label">Messages</span>
    </a>
    <a href="{% url 'search-user' %}" class="nav-item" id="nav-search">
      <span class="material-symbols-outlined">search</span>
      <span class="nav-label">Search</span>
    </a>
    <a href="#" class="nav-item" id="nav-notifications">
      <span class="material-symbols-outlined">favorite</span>
      <span class="nav-label">Notifications</span>
    </a>
    <a href="{% url 'create-post' %}" class="nav-item" id="nav-create">
      <span class="material-symbols-outlined">add_box</span>
      <span class="nav-label">Create</span>
    </a>
    <a
      href="{% url 'view-profile' request.user.profile.id %}"
      class="nav-item"
      id="nav-profile"
    >
      <span class="material-symbols-outlined">account_circle</span>
      <span class="nav-label">Profile</span>
    </a>
    <div class="nav-spacer"></div>
    <a href="#" class="nav-item" id="nav-more">
      <span class="material-symbols-outlined">menu</span>
      <span class="nav-label">More</span>
    </a>
    <a href="#" class="nav-item" id="nav-meta">
      <span class="material-symbols-outlined">apps</span>
      <span class="nav-label">Also from Meta</span>
    </a>
  </nav>
</aside>
