{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feed • Instagram Clone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Grand+Hotel&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="stylesheet" href="{% static 'base.css' %}" />
  </head>
  <body>
    {% if messages %}
    <div class="toast toast-end z-100">
      {% for msg in messages %}
      <div class="alert alert-{{msg.tags}}">
        <span>{{msg}}</span>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <!-- left sidebar -->
    {% include 'aside.html' %}

    <!-- ── MAIN CONTENT ── -->
    <div id="main-wrapper">
      <div id="content-area">
        <main id="center-feed">{% block content %}{% endblock %}</main>
        <aside id="right-panel">{% block right_panel %}{% endblock %}</aside>
      </div>
    </div>

    <!-- Messages floating button -->
    <button id="messages-float">
      <span class="material-symbols-outlined" style="font-size: 20px"
        >send</span
      >
      Messages
    </button>
  </body>
</html>
