{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'profileform.css' %}" />

<div class="edit-profile-container">
  <!-- Page title -->

  <h1 class="edit-title">
    {% if request.user.profile.is_onboard %} Edit profile {%else%} Create
    Profile {%endif%}
  </h1>

  <!-- User preview card -->
  <div class="user-card">
    <div class="user-card-avatar">
      {% if request.user.profile.avatar.url %}

      <img src="{{ request.user.profile.avatar.url }}" alt="person" />
      {% else %}
      <span class="material-symbols-outlined">person</span>

      {% endif %}
    </div>
    <div class="user-card-info">
      <div class="user-card-username">
        <!-- prettier-ignore -->
        {% if request.user.is_authenticated %}{{ request.user.username }}{% endif %}
      </div>
    </div>
    <label for="id_avatar" class="btn-change-photo">Change photo</label>
  </div>

  <form
    action="{% if form.instance.pk %} {% url 'edit-profile' %} {% else %} {% url 'create-profile' %} {% endif %}"
    method="POST"
    enctype="multipart/form-data"
    class="edit-profile-form"
  >
    {% csrf_token %} {{ form.as_div }}
    <button type="submit" class="btn-submit" id="btn-submit-profile">
      Submit
    </button>
  </form>
</div>
{% endblock %}
